extends ../auth.layout.pug

block content
    .intro
        .intro__main
            .intro__block
                .flip
                    .intro__font
                        .intro__content
                            .intro__image
                            .intro__about
                                .intro__name Андрей Смирнов
                                .intro__desk Личный сайт веб разработчикa
                            include ../../sections/socials
                        +nav('nav', [['Мои работы', 'works.html'],['Обо мне', 'about.html'], ['Блог', 'blog.html']])
                    .intro__back
                        form.form-welcome
                            .form-welcome__title Авторизуйтесь
                            .form__col
                                .login
                                    +icon('login', 'form__login')
                                input(type="text" value="" id="login" name="name" placeholder='Логин' onload="focus()")
                                span.drop-err Вы не ввели логин
                                .bg
                            .form__col
                                .password
                                    +icon('password', 'form__pass')
                                input(type="password" id="pass" value="" name="name" placeholder='Пароль')
                                span.drop-err Вы не ввели пароль
                                .bg
                            .form__col
                                label
                                    input(type="checkbox" class="checkbox" name="checkbox")
                                    span.checkbox-custom
                                    span Я человек
                            .form__col
                                span Вы точно не робот ?
                            .form__col
                                label.form___radio
                                    input(type="radio" value="yes" id="radio-btn" name="radio1" class="radio")
                                    span.radio-custom
                                    span Да
                                label.form___radio
                                    input(type="radio" value="no" id="radio-btn-1" name="radio1" class="radio")
                                    span.radio-custom
                                    span Не уверен
                        nav.nav
                            ul.nav__list
                                li.nav__item
                                    a(href="index.html" id="auth" class="nav__link") На главную
                                li.nav__item
                                    button(type="submit" class="nav__link" value="Отправить") Войти
            .sign(class="welcome__sign") © Смирнов Андрей | создано с любовью в LoftSchool | 2018
            +auth_btn('auth_btn')


