extends ../main.layout.pug

block variables
    - var title = 'Мои работы'

block scripts
    script(src='works.bundle.js')

block content
    section.hero.hero_works
        .container.container_hero
            -
                var socials = [
                ['vk', 'https://vk.com'],
                ['github', 'https://github.com/pazuhin'],
                ['in', 'https://in.com']
                ]
            ul.socials.hero__links
                each item in socials
                    li.socials__item
                        a(href=`${item[1]}` target="_blank").socials__link
                            +icon(item[0], 'socials__link-icon')
            a(href="#").humb.hero__menu
                .hero__menu-btn

            .hero__user.hero__user_about
                .intro__content
                    .intro__image
                    .intro__about
                        .intro__name Андрей Смирнов
                        .intro__desk Личный сайт веб разработчикa
            .down-btn
                a(href="#").down-btn__link
                    +icon('arrow_down','down-btn__img')

    section.works
        .works__title Мои работы
        .works__content
            .works__left
                .works__triangle
                    svg(viewBox="0 0 500 100" preserveAspectRatio="none").triangle.triangle_fill_left
                        <polygon points="0 0, 500 100, 0 100"/> fill="#DDF5FF"/>
                .school
                    .school__title Сайт школы онлайн образования
                    .school__stack HTML, CSS, JAVASCRIPT
                    .school__link
                        a(href='#' class="school__link-site") Посмотреть сайт
            .works__right
                .works__triangle
                    svg(viewBox="0 0 500 100").triangle.triangle_fill_right
                        <polygon points="500 0, 500 100, 0 100"/> fill="#DDF5FF"/>
                .works__up
                    img(src="assets/images/bg/works_big.png")
                .works__down
                    .works__down-left
                        img(src="assets/images/bg/works_ioga.png" class="works__down-left-pic")
                        a(href="#" class="works__down-left-link")
                            +icon('portf_arrow_down', 'works__down-btn')
                    .works__down-right
                        img(src="assets/images/bg/works_int.png" class="works__down-right-pic")
                        a(href="#" class="works__down-right-link")
                            +icon('portf_arrow_up', 'works__down-up-btn')
    section.feedback
        .feedback__up
            .feedback__title Что обо мне говорят
            .feedback__review
                .feedback__left
                    .feedback__avatar
                    .feedback__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .feedback__user
                        .feedback__user-name Ковальчук Дмитрий
                        .feedback__user-prof - основатель Loftschool
                .feedback__right
                    .feedback__avatar
                    .feedback__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    .feedback__user
                        .feedback__user-name Сабанцев Владимир
                        .feedback__user-prof - преподаватель
        .feedback__down
            form.form
                .form__title Связаться со мной
                input(type="text" value="" name="name" placeholder='Имя')
                input(type="text" value="" name="name" placeholder='Email')
                textarea(name="msg" placeholder="Ваше сообщение")
                .form__down-btns
                    button(type="submit" value="" class="submit" name="submit-btn") Отправить
                    button(type="reset" value="" name="btn-clear" class="reset") Очистить
            a(href="#", class="feedback__down-link")
        footer.footer.footer_blog
            .container.footer_container
                .footer__col
                    .footer__text
                        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                .footer__col.footer__col_center
                    .footer__col-border
                        +nav('nav-about', [['Мои работы', 'works.html'], ['Обо мне', 'about.html'], ['Блог', 'blog.html'], ['Авторизация', 'index.html']])
                        ul.socials.footer__links
                            each item in socials
                                li.socials__item
                                    a(href=`${item[1]}` target="_blank").socials__link
                                        +icon(item[0], 'footer__link-icon')
                .footer__col
                    blockquote
                        p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете. <br> <span class="text">— Martin Golding</span>
        +sign('sing-works')
    include ../../sections/popap

