include ./common/_mixins

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | welcome page
    link(rel="stylesheet", href="main.min.css")
  body
    include ./components/preloader.pug
    block content

    script(src="./bootloader.bundle.js")
    script(src="./auth.bundle.js")

    //<script async defer
    //  src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
    //</script>