.popap-page
    .popap-menu
        ul.popap-menu__list
            li.popap-menu__item
                a(href="#" class="popap-menu__link") Мои работы
            li.popap-menu__item
                a(href="#" class="popap-menu__link") Блог
            li.popap-menu__item
                a(href="#" class="popap-menu__link") Обо мне
            li.popap-menu__item
                a(href="#" class="popap-menu__link") Авторизация