ul.socials__list
    li.socials__item
        a(href="https://vk.com" target="_blank").socials__link
            +icon('vk', 'socials__icon')
    li.socials__item
        a(href="https://github.com/pazuhin" target="_blank").socials__link
            +icon('github', 'socials__icon')
    li.socials__item
        a(href="https://in.com" target="_blank").socials__link
            +icon('in', 'socials__icon')