ul.socials__list
    li.socials__item
        a.socials__link
            +icon('vk', 'socials__icon')
    li.socials__item
        a.socials__link
            +icon('github', 'socials__icon')
    li.socials__item
        a.socials__link
            +icon('in', 'socials__icon')