.hero__user_about .intro__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__user_about {
  height: 400px;
  width: 70%;
}


.about {
  min-height: 860px;
}

.container_about {
  display: flex;
  width: 100%;

  @include tablets {
    flex-direction: column;
  }
}

.about__block {
  margin-left: 7%;
  margin-right: 3%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  @include big-tablets {
    flex-direction: column;
    align-items: center;
    margin-left: 3%;
  }

  @include tablets {
    flex-direction: column;
    align-items: center;
    margin-left: 3%;
    max-width: 475px;
    margin: 0 auto;
  }
 }


.about__left, .about__right {
  width: 50%;

  @include tablets {
    width: 100%;
  }
}

.about__left {
  background: #ebefe2;
  display: flex;
  flex-direction: row;
}

.about__right {
  background: #f4f5f0;
  display: flex;
  flex-direction: row;
}

.about__triangle .triangle_fill_left {
  position: absolute;
  width: 50%;
  fill: #ebefe2;
  bottom: 0;
  left: 0;
}

.about__triangle .triangle_fill_right {
  position: absolute;
  width: 50%;
  fill: #f4f5f0;
  bottom: 0;
  right: 0;

  @include tablets {
    fill: #ebefe2;
  }
}

.about__left-title {
  width: 40%;
  position: relative;
  font-family: 'sansus_webissimoregular';
  text-transform: uppercase;
  font-size: 63px;
  text-align: center;

  @include big-tablets {
    width: 70%;
  }

  @include phones {
    width: 90%;
    font-size: 35px;
    margin-top: 10px;
  }
}

.block__bg {
  background: url(assets/images/bg/about_header.png) center center no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 115px;
  position: absolute;
  top: 0;

  @media (max-width: 500px) {
    top: -25px;
  }

  @include phones {
    top: -35px;
  }
}

.about__left-content {
  width: 60%;
  padding-top: 23px;

  @include big-tablets {
    width: 100%;
    padding-top: 0;
  }
}

.user-description {
  display: flex;
  flex-direction: column;
}

.user-description__data {
  @include tablets {
    margin-bottom: 40px;
  }

  @include phones {
    margin-bottom: 25px;
  }
}

.user-description__img-pic {
  width: 100%;
  height: 390px;
  background-image: url(assets/images/main/me.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include phones {
    height: 285px;
    background-size: 100%;
  }
}

.user-description__img {
  margin-bottom: 40px;

  @include tablets {
    margin-bottom: 20px;
  }

  @include phones {
    margin-bottom: 0px;
  }
}

.user-description__title {
  text-align: center;
  font-family: 'sansus_webissimoregular';
  text-transform: uppercase;
  font-size: 35px;
  color: #566358;
}

.text-content {
  color: #566358;
  line-height: 1.8;

  @media screen and (max-width: 500px) {
    margin: 0 2.5%;
  }
  @include phones {
    margin: 0 2.5%;
    font-size: 14px;
  }
}

.user-description__text p {
  margin-bottom: 15px;
}

.block-title {
  position: relative;

  @media (max-width: 500px) {
    font-size: 49px;
  }

  &:after {
    content: '';
    height: 2px;
    width: 95px;
    background: #566358;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;

    @include phones {
      margin-bottom: 20px;
      margin: 10px auto;
      margin-bottom: 20px;
    }
  }
}


.block-sub {
  text-align: center;
  font-family: 'sansus_webissimoregular';
  text-transform: uppercase;
  font-size: 35px;
  color: #566358;
  width: 270px;
  margin: 0 auto;

  @include phones {
    font-size: 21px;
  }
  &:after {
    content: '';
    height: 2px;
    width: 95px;
    background: #566358;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;

    @include tablets {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

.about__right, .about__right-content {
  display: flex;
  flex-direction: column;
}

.about__right {
  padding-left: 2%;
  padding-top: 43px;


  @include tablets {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 15px;
  }

  @include phones {
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-top: 15px;
  }
}

.about__right-description {
  margin-bottom: 50px;

  @include tablets {
    text-align: center;
    margin-bottom: 40px;
  }

  @include phones {
    margin-bottom: 20px;
  }
}

.map__sign {
  margin-bottom: 0;
  background: #80a970 !important;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
  padding: 9px 0;
  text-align: center;
  color: #fff;

  @include tablets {
    font-size: 14px;
  }
}

.footer__about {
  width: 100%;
}

.map__footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

