.form-welcome__title {
  text-align: center;
  font-size: 35px;
  font-family: 'sansus_webissimoregular';
  text-transform: uppercase;
  color: white;

  @include phones {
    font-size: 30px;
  }

  &:after {
    content: '';
    height: 2px;
    width: 95px;
    background: white;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.modal-form__row {
  color: #fff;
  font-size: 16px;
}

.iconed-input {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
  position: relative;

  &:first-child {
    @include tablets {
      font-size: 14px;
    }
  }

  &:nth-child(2) {
    @include tablets {
      font-size: 14px;
    }
  }



  &:last-child {
    margin-bottom: 40px;
  }

   input {
    width: 100%;
    margin-bottom: 0;
    position: relative;
    padding-left: 65px;
  }
}

.form-control {
  display: flex;
  justify-content: center;
}

.modal-form__controlls {
  margin-bottom: 15px;
}

.modal-form__controlls-title {
  text-align: center;
  margin-bottom: 15px;
}

.form-control__element{
  display: none;
}

.modal-form__controlls-group {
  display: flex;
  justify-content: center;
}

.checkbox-custom {
  position: relative;
  width: 23px;
  height: 23px;
  background-color: #6c9c5a;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.checkbox:checked + .checkbox-custom:before {
  content: url("assets/images/intro/check.png");
  display: block;
  position: absolute;
  top: 0;
  right: 2px;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.radio-custom {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.radio:checked + .radio-custom:before {
  background: #6c9c5a;
  border-radius: 50%;
  bottom: 2px;
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  top: 50%;
  width: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form___radio {
  margin-right: 40px;

  @include phones {
    margin-right: 30px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.iconed-input__icon {
  position: absolute;
  left: 36px;
  top: 14px;
}

.iconed-input__icon-pic {
  width: 15px;
  height: 15px;
  fill: #c4cbcd;
  position: absolute;
  left: 10%;
  z-index: 5;
  top: 25%;
}

.bg {
  background-color: #f0efe9;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  height: 45px;
  left: 21px;
  position: absolute;
  width: 45px;
  top: 1px;
}

.login {
  position: absolute;
  left: 10%;
  z-index: 5;
  top: 25%;
}

.password {
  position: absolute;
  left: 10%;
  z-index: 5;
  top: 25%;
}

.drop-err {
  width: 170px;
  height: 45px;
  position: absolute;
  border-radius: 5px;
  background-color: #e44845;
  top: 60px;
  z-index: 10;
  text-align: center;
  padding: 3% 0;
  font-weight: 400;
  left: 17%;
  display: none;
  font-size: 14px;

  &:after {
    border-color: transparent transparent #e44845;
    border-style: solid;
    border-width: 0 12px 10px;
    bottom: 45px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    width: 0;
    transform: translateX(-50%);
  }
}

button {
  outline: none;
}

.active {
  box-shadow: 0 0 20px rgb(89%, 28%, 27%, 1);
}

.drop-err.is-active {
   display: block;
}

.login.is-active {
  .form__login {
    fill: #e44845;
  }
}

.password.is-active {
  .form__pass {
    fill: #e44845;
  }
}

.login.onfocus{
  .form__login {
    fill: #6c9c5a;
  }
}

.password.onfocus{
  .form__pass {
    fill: #6c9c5a;
  }
}
