.container_blog {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  flex: 1;
}

.blog__left {
  width: 40%;
  max-width: 11.875rem;
  flex: 1;

  @include tablets {
    display: none;
  }
}

.nav-blog {
  position: sticky;
  top: .625rem;
}

.blog__right {
  width: 60%;
  margin-left: 135px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: -5px;
  max-width: 980px;
  flex: 1;

  @include tablets {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
  }
}

.blog-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.blog-content__item {
  height: 100%;
}

.blog-content__lilte {
  font-size: 35px;
  font-family: 'sansus_webissimoregular';
  color: #455a64;
  margin-bottom: 25px;

  @include tablets {
    font-size: 30px;
    margin-bottom: 15px;
  }

  @include phones {
    font-size: 21px;
    margin-bottom: 15px;
  }
}

.blog-content__date {
  color: #4e8839;
  margin-bottom: 20px;

  @include tablets {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.blog-content__text p {
  margin-bottom: 15px;
  line-height: 1.7;
  max-width: 880px;

  @include tablets {
    font-size: 14px;
  }
}

.blog-content__img-pic {
  width: 100%;
  height: 125px;
  background-image: url(assets/images/blog/code.jpg);
  background-repeat: no-repeat;
}

.blog-content__item {
  &:after {
    content: '';
    height: 3px;
    width: 100%;
    background: #ecebe4;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;

    @include tablets {
      margin-bottom: 35px;
      margin-top: 35px;
    }
  }

  &:last-child {
    margin-bottom: 65px;

    &:after {
      content: '';
      height: 0;
    }
  }
}


.sing-blog {
  align-items: flex-end;
  color: #fff;
  background: #81aa70;
  display: flex;
  flex: 1;
  font-family: robotoregular;
  justify-content: center;
  margin-bottom: 0 !important;
  padding: 9px 0;

  @include tablets {
    text-align: center;
    font-size: 14px;
  }
}

.hero__user_blog {
  position: relative;
  transform: translate(-50%,-80%);

  &:before {
    content: url("assets/images/bg/blog_header.png");
    display: block;
    position: absolute;
    top: 35%;
    left: -30%;
  }
}

.blog__triangle-left .triangle_fill_left {
  fill: #fff;
  left: 0;
  position: absolute;
  width: 50%;
  bottom: 0;
}

.blog__triangle-right .triangle_fill_right {
  bottom: 0;
  fill: #fff;
  position: absolute;
  right: 0;
  width: 50%;
}

.intro__blog .intro__desk {
  width: 205px;
}



