.feedback {
  position: relative;
  background: url(assets/images/works/bg-down.png) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;

  &:before {
    content: url("assets/images/works/list1.png");
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 60%;
    left: 24%;

    @include tablets {
      display: none;
    }
  }

  &:after {
     content: url("assets/images/works/list2.png");
     display: block;
     width: 150px;
     height: 150px;
     position: absolute;
     top: 60%;
     left: 80%;

    @include tablets {
      display: none;
    }
   }

  &__up {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    margin: 0 2.5%;
    margin-bottom: 70px;

    @include tablets {
      margin-bottom: 45px;
    }
  }

  &__title {
    color: #373e42;
    font-size: 63px;
    font-family: 'sansus_webissimoregular';
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding-top: 50px;
    margin-bottom: 25px;
    padding: 0 35%;
    line-height: 1;
    margin-top: 35px;

    @media screen and (max-width: 1200px) {
      padding: 0 28%;
    }

    @media screen and (max-width: 890px) {
      padding: 0 20%;
    }

    @include tablets {
      font-size: 49px;
      width: 430px;
      text-align: center;
      margin: 0 auto;
      padding: 0 ;
    }

    @media screen and (max-width: 480px) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 430px) {
      width: 100%;
    }

    &:before {
      background: url(assets/images/bg/about_header.png) center center no-repeat;
      background-size: 100%;
      content: "";
      height: 170px;
      position: absolute;
      top: -20px;
      width: 470px;
      left: 50%;
      transform: translateX(-50%);

      @include tablets {
        top: -45px;
        width: 420px;
      }

      @media screen and (max-width: 480px) {
        width: 300px;
      }
    }

    &:after {
      content: '';
      height: 4px;
      width: 90px;
      background: #373e42;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }
  }

  &__review {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media screen and (max-width: 480px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__left, &__right {
   max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: space-around;
  }

  &__left .feedback__avatar{
    background-image: url("assets/images/works/koval.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  &__right .feedback__avatar{
    background-image: url("assets/images/works/saban.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  &__text {
    line-height: 1.8;
    margin-bottom: 25px;
    font-style: italic;
    color: #5a6358;

    @include tablets {
      font-size: 14px;
    }

    @media screen and (max-width: 480px) {
      margin-bottom: 15px;
    }
  }

  &__user-name {
    font-style: italic;
    color: #4e8839;
    font-weight: bold;
    padding-left: 10px;
  }

  &__left {
    margin-right: 25px;

    @media screen and (max-width: 480px) {
      margin-right: 0px;
      margin-bottom: 30px;
    }
  }
}

.feedback__down {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
}

.form {
  padding-top: 25px;
  width: 380px;
  height: 465px;
  display: flex;
  flex-direction: column;
  background: rgba(218, 219, 214, 0.5);
  border-radius: 15px;

  @include tablets {
    width: 350px;
    height: 445px;
  }

  @media screen and (max-width: 480px) {
    width: 300px;
    height: 425px;
  }

  &__title {
    color: #373e42;
    font-size: 35px;
    font-family: 'sansus_webissimoregular';
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: 480px) {
      font-size: 21px;
    }

    &:after {
      content: '';
      height: 4px;
      width: 90px;
      background: #373e42;
      display: block;
      margin: 0 auto;
      margin-top: 25px;
      margin-bottom: 25px;

      @include tablets {
        margin-top: 10px;
        margin-bottom: 15px;
      }

      @media screen and (max-width: 480px) {
        height: 2px;
      }
    }
  }
}

input {
  border-radius: 30px;
  outline: none;
  padding: 15px 20px;
  margin: 0 20px;
  border: none;
  margin-bottom: 20px;

  @include tablets {
    font-size: 14px;
  }

}

textarea {
  resize: none;
  outline: none;
  border-radius: 30px;
  min-height: 140px;
  margin-bottom: 20px;
  padding: 24px 0 0.25rem 18px;
  border: none;
  margin: 0 20px 25px 20px;

  @include tablets {
    font-size: 14px;
  }
}

.form__down-btns {
  display: flex;
  flex-direction: row;
}

.submit, .reset {
  width: 100%;
  height: 45px;
  background: #729b63;
  color: #fff;
  transition: .3s;
  outline: 0;

  &:hover {
    background: #659753;
  }
}

.submit {
  border-right:2px solid #a2bd9d;
}

.feedback__down-link {
  position: absolute;
  bottom: 19%;
  display: block;
  width: 30px;
  height: 20px;

  &:after {
    background: svg-load('portf_arrow_down.svg', fill=#c2d4cb) center center no-repeat / contain;
    content: "";
    height: 20px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-180deg);
    width: 30px;
    bottom: 0;
  }
    &:hover:after {
      background: svg-load('portf_arrow_down.svg', fill=#fff) center center no-repeat / contain;
      content: "";
      height: 20px;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%) rotate(-180deg);
      width: 30px;
      bottom: 0;
    }
  }

.feedback__user-prof {
  font-style: italic;
  color: #5a6358;
}
