.sidebar {
  text-align: end;
  flex: 1;
}

.nav-blog {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-blog__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-blog__link {
  text-decoration: none;
  color: #455a64;
}

.nav-blog__item {
  margin-bottom: 25px;
  font-weight: 300;
}

.nav-blog__link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  font-weight: 500;

  &:hover {
    color: #4e8839;
    font-weight: 700;
  }

    &:after {
    background: #4e8839;
    content: "";
    display: block;
    width: 3px;
    transform: translateX(15px);
    position: absolute;
    transition: .3s;
  }
}


.nav-blog__link:hover:after {
  bottom: 0;
  top: 0;
}

.nav-blog__link.is-active {
  color: #4e8839;
  font-weight: 700;

  &:after {
    bottom: 0;
    top: 0;
  }
}