.skill {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
}

.skills-list {
  display: flex;
  flex-direction: column;
}

.skill__figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.skill__circle {
  fill: transparent;
  stroke: #ccc;
  stroke-width: 20px;
}

.skill__circle_above {
  stroke: #74a163;
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
}

.skills {
  display: flex;
  flex-wrap: wrap;

  @include tablets {
     justify-content: space-around;
     flex-wrap: wrap;
   }

  @include phones {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.skill__figure {
  position: relative;
}

.skill__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #4e8839;
  text-align: center;
}

.skills-list__title {
  font-size: 28px;
  color: #566358;

  @include tablets {
    text-align: center;
  }

  @include phones {
    font-size: 21px;
  }
}

figure {
  margin: 0;
}

.skills-list__item {
  margin-right: 40px;
  margin-bottom: 30px;

  @include tablets {
    margin-right: 0px;
    margin-bottom: 15px;
  }

    @include phones {
      margin-right: 0px;
  }
}

.skills-list__title {
  margin-bottom: 15px;

  @include tablets {
    margin-bottom: 10px;
  }
}

.skills-row {
  display: flex;
  flex-direction: column;
}


