.slider {
  height: 100vh;
  min-height: 650px;
  width: 100%;
  background: #ebefe2;
  display: grid;
  grid-template:
    "info display" 70%
    "info buttons" 30%
    / 1fr 1fr;

  @include tablets {
    grid-template:
      "display" 45%
      "info" 35%
      "buttons" 20%
    / 1fr;
  }

  @include phones {
    grid-template:
      "display" 40%
      "info" 40%
      "buttons" 20%
    / 1fr;
  }
}
.slider-container {
  margin-bottom: 20px;
}
.slider__info-container {
  grid-area: info;

}

.slider__about {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.slider-display {
   grid-area: display;
   background: #e1e4d7;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.slider-buttons {
  grid-area: buttons;
  display: flex;
  position: relative;
  overflow: hidden;
}

.slider__big-pic {
  display: block;
  max-width: 90%;
  max-height: 90%;
}

.slider-button {
  flex: 1;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: .3s;


  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(#b0b7aa, 0.3);
    z-index: 10;
  }

  &:hover {
    opacity: .7;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: svg-load('portf_arrow_down.svg', fill=#fff) center center no-repeat / contain;
    width: 44px;
    height: 29px;
    z-index: 999;
  }

  &--next {
    &:after {
      transform: translate(-50%, -50%) rotate(-180deg);
      z-index: 999;
    }
  }
}

.slider__button-img-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


.slider__button-img-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__button-pic {
  display: block;
  max-width: 90%;
  max-height: 90%;
}

.slider__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &-skills {
    color: #4e8839;
    font-size: 0;
    margin-bottom: 55px;
    flex-direction: row;

    span {
      font-size: 14px;
      display: inline-block;

      &.whitespace {
        &:after {
          content: "\00a0";
        }
      }
    }

    @include tablets {
      margin-bottom: 35px;
    }

    @media screen and (max-width: 480px) {
      margin-bottom: 15px;
    }
  }
}

.button {
  padding: 15px 20px 15px 20px;
  background-color: #588550;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.42;
  transition: .5s;
  display: flex;
  text-align: center;
  min-width: 200px;
  border-radius: 30px;

@media screen and (max-width: 480px) {
  font-size: 14px;
  justify-content: center;
  padding: 10px 0;
  min-width: 180px;
}

  &:before {
    content: url("assets/images/works/link.png");
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &:hover {
    background-color: #497f39;
  }
}

.works {

  &__title {
    min-height: 190px;
    color: #373e42;
    font-size: 63px;
    font-family: 'sansus_webissimoregular';
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding-top: 50px;

    @include tablets {
      font-size: 48px;
      padding-top: 20px;
      min-height: 135px;
    }

    &:after {
      content: '';
      height: 4px;
      width: 90px;
      background: #373e42;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 25px;

      @include tablets {
        margin-bottom: 0px;
      }
    }
  }
}

.works__title-bg  {
  background: url(assets/images/bg/works_header.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 210px;

  @include tablets {
    top: 50%;
  }

  @media screen and (max-width: 430px) {
    width: 300px;
    height: 150px;
  }
}

.slide-down-enter-active, .slide-down-leave-active {
  transition: 1s;
}

.slide-down-leave {
  bottom: 0%;
}

.slide-down-leave-to {
  bottom: -100%;
}

.slide-down-enter {
  bottom: 100%;
}

.slide-down-enter-to {
  bottom: 0%;
}


.slide-up-enter-active, .slide-up-leave-active {
  transition: 1s;
}

.slide-up-leave {
  bottom: 0%;
}

.slide-up-leave-to {
  bottom: 100%;
}

.slide-up-enter {
  bottom: -100%;
}

.slide-up-enter-to {
   bottom: 0%;
 }

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-duration: 2s;
  animation-name: bounceIn;
}

.subtitle {
  color: #566358;
  font-size: 30px;
  font-family: 'sansus_webissimoregular';
  text-transform: uppercase;
  text-align: center;
  padding: 0 10%;
  animation-duration: 2s;
  animation-name: show;


  &:after {
    content: '';
    height: 2px;
    width: 90px;
    background: #566358;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;

    @include tablets {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  @include tablets {
    font-size: 20px;
  }

  @media screen and (max-width: 480px) {
    font-size: 20px;
  }
}

@keyframes show {
  from {
   opacity: 0;
  }
  to {
    opacity: 1;
  }
}

