.works .triangle_fill_left {
   position: absolute;
   bottom: 0;
   width: 50%;
   fill: white;
 }

.works .triangle_fill_right {
  position: absolute;
  bottom: 0;
  width: 50%;
  fill: white;
  right: 0;
}

.sing-works {
  align-items: flex-end;
  color: #fff;
  background: #81aa70;
  display: flex;
  flex: 1;
  font-family: robotoregular;
  justify-content: center;
  margin-bottom: 0 !important;
  padding: 9px 0;
  opacity: 0.9;

  @media screen and (max-width: 480px) {
    font-size: 14px;
    text-align: center;
  }
  }


